<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls" style="font-size: 1.4rem">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" style="font-size: 1.2rem">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <% if(!username){ %>
    <form class="form-inline" action="/login" method="POST">
      <div class="form-group mb-2">
        <input
          class="form-control"
          type="text"
          name="username"
          placeholder="username"
          style="width: 200px; margin: 0.7em"
        />
        <button type="submit" class="btn btn-outline-dark">Login</button>
      </div>
    </form>
    <% }else{ %>
    <form action="/logout" method="POST">
      <div class="form-group mb-2">
        <label for="username" style="margin-right: 10px; color: black"
          >Logged In As: TinyApp User!</label
        >
        <button type="submit" class="btn btn-outline-dark">Logout</button>
      </div>
    </form>
    <% } %>
  </nav>
</header>
